<ion-header>
  <ion-toolbar>
    <ion-title>new-item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)">
    <ion-item>
      <ion-label color="primary" position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>

<ion-item>
     <ion-label>BS degree?</ion-label>
    <ion-checkbox color="primary" formControlName="BS"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>MM DD YY</ion-label>
  <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" formControlName="date"></ion-datetime>
</ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!new_item_form.valid">Create</ion-button>
  </form>

</ion-content>
